<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Prozhi.com</title>
	<script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css')}}">-->
	<style>
		.body {
			margin-top: 50px;
			padding-bottom: 70px;
		}

		.left-menu {
			height: 100%;
		}
		.left-menu > .menu-item {
			line-height: 40px;
		}
		.left-menu > .active {
			background-color: #1E9FFF;
			color: #fff;
		}
	</style>
	{% block CSS %} {% end %}
</head>
<body>
    <!--导航栏-->
    <!--使用navbar-fixed-top固定到顶部-->
    <nav class="nav navbar-default navbar-fixed-top" role="navigation">
        <!--使用流布局-->
        <div class="container-fluid">
            <!--指定logo位置及图片-->
            <div class="navbar-header">
                <a href="/index" class="navbar-brand">Ftp文件上传下载系统</a>
            </div>
            <div class="collapse navbar-collapse" id="menu">
                <!--菜单栏-->
                <!--使用位置来指定放在那里-->
                <ul class="nav navbar-nav navbar-right">
                    <!--超链接-->
					<li class="layui-nav-item"><a>欢迎你! {{username}}</a></li>
		  			<li class="layui-nav-item"><a href="/logout">退出</a></li>
                </ul>
            </div>
        </div>
    </nav>

	<div class="container-fluid body">
		<div class="row content">
			<div class="col-md-2">
				<div class="row left-menu">
					<div class="col-md-12 menu-item time"><h5></h5></div>
					<div class="col-md-12 menu-item active">Dashboard</div>
					<div class="col-md-12 menu-item">什么都没有</div>
				</div>
			</div>
			<div class="col-md-10 body-data">
				{% block Body %} {% end %}
			</div>
			<div class="row">
				<div class="col-md-12 text-center navbar-fixed-bottom">© Thorgene</div>
			</div>
		</div>
	</div>


	<script>
		/* Ajax 初始化请求操作*/
		$(function () {
			$.ajaxSetup({
				beforeSend: function (xhr, settings) {
					xhr.setRequestHeader('X-CSRFtoken', $.cookie('_xsrf'));
				}
			});
		});

		/* 获取时间 */
		function get_ctime() {
			var data = new Date();
			var ch = data.getHours();
			var cM = data.getMinutes();
			var ctime_m = ch + ':' + cM;
			var ctime = ch + ' ' + cM;
			var cy = data.getFullYear();
			var cm = data.getMonth() + 1;
			var cd = data.getDate();
			var cj = data.getDay();
			var cdata = '星期' + cj + ' ' + cy + '年' + cm + '月' + cd + '日';
			if($('.time>h5').text().indexOf(":") > 0 ){
				$('.time>h5').text(ctime + ' | ' + cdata);
			}else{
				$('.time>h5').text(ctime_m + ' | ' + cdata);
			}
		}

		/* 定时更新时间 */
		$(function () {
			get_ctime();
			setInterval('get_ctime()',1000)
		});

		document.addEventListener("visibilitychange", function () {
			if (document.hidden) {
				$('title').text('Prozhi.com');
			} else  {
			   	$('title').text('欢迎回来ヽ(✿ﾟ▽ﾟ)ノ');
				setTimeout("$('title').text('Prozhi.com');",5000);
			}
		}, false);
    </script>
	{% block JS %} {% end %}
</body>
</html>
